<a href="https://colab.research.google.com/github/sigvehaug/CAS-Applied-Data-Science/blob/master/Module-1/M1_D1_DM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Notebook 1, Module 1, Data and Data Management, CAS Applied Data Science, 2023-08-23, S. Haug, University of Bern.

Prerequisite for this notebook is some basic Python experience.

Please also look at the first batch of [these slides](https://docs.google.com/presentation/d/1BrlQQGDnEpr8lBiEd9uO-Kw2-WOInAEP-cv-xdUwB4Y/edit?usp=sharing) before doing this notebook. They offer an introduction to data.

ChatGPT is able to write most of the code needed for this notebook. Please use it if you like !

# 1. Data Management

Estimated study time is about 2 hours. According to your background and how much you want to learn, you may need more or less. You are supposed to google, read manuals and chat with others during working through this notebook in order to benefit fully.

**Learning outcomes - after completion you**
- Know about data sources, types and formats (see lecture slides via link above)
- Able to import and export data in Python
- Able to do simple things with dataframes in Python
- Know about data volumes, metadata and quality
- Able to plot histograms and scatter plots in Python (tomorrow)

**Documentation on Pandas DataFrame**
- Python: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

## Outline

     0. About data management
     1. Getting used to Jupyter notebooks / colab
     2. Import datasets into a Python dataframe
     3. Indexing on a dataframe
     4. Sorting
     5. Filtering
     6. Exporting
     7. Missing and bad data
     8. Metadata
     9. Working on the filesystem

**My Notes:**

In General: On Google Colab you can use their server, which means you dont have to use your local memory. For advanced machine learning Google Colab also offers GPU, which is needed for lots of data. When using Patient data or confidential data you have to do it locally, Google Colab is not allowed as it is of course not a 'protected' space.

### 0. About data management

Handling or managing data involves many steps and technologies at many levels. Data may be colleccted by sensors. It can be a camera, a temperature sensor, a telescope, a microscope (with a camera), a microphone, a particle detector etc. Normally the data is then digitised, maybe preprocessed and written to some media in a certain format, e.g. as a comma separated value (csv) file to a hard disk. This part of the data management is normally taken care of by engineers.

Data may also be collected from all sorts of databases, so data already collected somehow. Time series of financial data, customers, passengers, facebook likes, twitter tweets etc. This is data which is normally already on a media with some interface for access, e.g. paper to be read by a camera, a file on youtube, a table on wikipedia etc. We will look at some ways to collect such data. Some programming and computer skills are needed to do so. It may be that this part of the data management is taken care of by specialised computer scientists, but it may also be expected from a data scientist to have these skills.

Analysing data with statisitical and machine learning tools, requires that the data is colleceted, cleaned and prepared for the tools. This is very often a very large part of a data analytics project and a prerequisite. It may involve removing bad data, filter out redundant and noisy data, unify the formats and types, transform the data etc.
Thus, a data scientist must be able to perform this part of the data management. This notebook shows the basic operations with Python pandas. With other tools the concepts and operations are very similar.

After the data analysis, after the extraction of information and the creation of knowledge, the data is often stored or archived for the future (if this seems cheaper than regenerating the data at a later point). In larger institutions this part of the data management may include educated librarians and others, not necessarily the data scientist.  

**In this notebook we only look at a few examples on how to do datamanagement with dataframes. Pandas are extremly powerful and we cannot show everything in a couple of hours. You will become more and more experienced when you work on your module projects. Probably whatever you want to do with your dataframe, there is a way to do it. If not, it probably doesn't make much sense what wou want to do.**

Any questions?

### 1. Getting used to Jupyter computational notebooks and Colab

With Jupyter you can write rich text notebooks with executable code via your browser. There are several so-called kernels or computational back ends, i.e Python, R, Julia, bash etc can be supported. The text is written as Markdown. Latex is also supported (good for math). You can export the notebook in various formats, e.g. html. Everything can be done via the various tabs, however, the key shortcuts make you faster.

*Useful key combinations*

- Shift Enter or Control Enter = Run cell
- Option/Alt Enter = Run cell and Insert new cell below

### Exercise 1 (10 min)
- Change and run this cell
- Add a new cell and execute some python statement in it
- Study the tabs in the menu of your jupyter (lab) notebook

In [2]:
# Write some more Python code here
print('Hello Lenja. Have a nice day')

Hello Lenja. Have a nice day

### 2. Import a dataset into a Pandas DataFrame

Pandas is a Python Module for data analysis and manipulation and management. It has the data structure DataFrame which is quite powerful. Features

- DataFrame object for data management with integrated indexing.
- Tools for reading and writing data between in-memory data structures and different file formats.
- Data alignment and integrated handling of missing data.
- Reshaping and pivoting of data sets.
- Label-based slicing, fancy indexing, and subsetting of large data sets.
- Data structure column insertion and deletion.
- Group by engine allowing split-apply-combine operations on data sets.
- Data set merging and joining.
- Hierarchical axis indexing to work with high-dimensional data in a lower-dimensional data structure.
- Time series-functionality: Date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging.

The module is highly optimized for performance, with critical code parts written in Cython or C. Documentation here: https://pandas.pydata.org/pandas-docs/stable/api.html

For input/output (I/O) there are methods for reading EXCEL, SQL databases, HTML tables, clipboard, SAS, STATA etc.

In [3]:
#Upload the local data file to colab --> google provides predefined commands for this when using colab, see below
#from google.colab import files
#uploaded = files.upload()

In [4]:
# import the python module pandas with the abbreviation pd
import pandas as pd
# Read the data in the iris.csv file into a dataframe
iris_df = pd.read_csv('iris.csv')

iris_df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

**Important Info about Pandas:**

If we do operations on our Pandas Dataframe, we are always changing the dataframe. Pandas does not make a copy as that would require too much memory space. Hence if you want to copy instead of change the original dataframe, you have to use a copy command!

**Info on Python Datatypes**

Python guesses the data type of a variable, this is called 'implicit declaration'. We don't need to tell Python explicitly if our number is an integer or a float. This has implications for memory and speed because Python has to 'guess' and define the data by itself first.

**When to use Pandas and when to use Numpy**

Use Numpy when it becomes mathematical. If it is more about data cleaning, data handling etc. it is easier to use pandas.

The dataframe method shows 50 rows per default. We can change this as we like:

In [5]:
iris_df[0:20] #this shows us only the first 20 rows

    5.1  3.5  1.4  0.2  Iris-setosa
0   4.9  3.0  1.4  0.2  Iris-setosa
1   4.7  3.2  1.3  0.2  Iris-setosa
2   4.6  3.1  1.5  0.2  Iris-setosa
3   5.0  3.6  1.4  0.2  Iris-setosa
4   5.4  3.9  1.7  0.4  Iris-setosa
5   4.6  3.4  1.4  0.3  Iris-setosa
6   5.0  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa
13  5.8  4.0  1.2  0.2  Iris-setosa
14  5.7  4.4  1.5  0.4  Iris-setosa
15  5.4  3.9  1.3  0.4  Iris-setosa
16  5.1  3.5  1.4  0.3  Iris-setosa
17  5.7  3.8  1.7  0.3  Iris-setosa
18  5.1  3.8  1.5  0.3  Iris-setosa
19  5.4  3.4  1.7  0.2  Iris-setosa

In [6]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [7]:
iris_df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

Find out on wikipedia what this Iris data is about.

### Hint

There are some ways to get help about modules and methods in Jupyter:

In [8]:
# if you want to know all the methods that are available for your dataset/class use iris_df. -> after the dot the available methods will appear

Get help about this object, if there is any:

In [9]:
iris_df? #add a question mark after your object to see information about the object

SyntaxError: invalid syntax (771470321.py, line 1)

And, what you will probably use the most, the online package information and examples by googling or ChatGPT.

### Exercise 2 (10 min)

Read the Swiss BAG Corona data on deaths into a dataframe and look at it. The URL is
https://www.covid19.admin.ch/api/data/20230815-7ixiby4u/sources/COVID19Death_geoRegion_sex_w.csv

There are also json files on that server. If you want to use them instead, consult https://pandas.pydata.org/docs/reference/io.html in order to find out how to read a json file into a pandas dataframe.

In [ ]:
# Write your code here
pd.set_option('display.max_rows',20)
#url = 'https://www.covid19.admin.ch/api/data/20210823-4c27ic5b/sources/COVID19VaccPersons_v2.json'
url = 'https://www.covid19.admin.ch/api/data/20230815-7ixiby4u/sources/COVID19Death_geoRegion_sex_w.csv'
swiss_covid_data = pd.read_csv(url)
swiss_covid_data

Index(['sex', 'geoRegion', 'datum', 'entries', 'timeframe_all', 'sumTotal',
       'freq', 'prct', 'pop', 'inz_entries', 'inzsumTotal', 'type',
       'type_variant', 'version', 'datum_unit', 'datum_dboardformated',
       'entries_diff_abs', 'entries_diff_inz', 'entries_diff_pct',
       'prct_diff'],
      dtype='object')

In [ ]:
print(swiss_covid_data.info)
swiss_covid_data.columns
#note: for the last entry in a code cell you don't need to add the print command, it'll print automatically

<bound method DataFrame.info of            sex geoRegion   datum  entries  timeframe_all  sumTotal   freq  \
0         male        CH  202009        0           True         0    NaN
1       female        CH  202009        0           True         0    NaN
2      unknown        CH  202009        0           True         0    NaN
3         male        CH  202010        2           True         2  0.667
4       female        CH  202010        1           True         1  0.333
...        ...       ...     ...      ...            ...       ...    ...
16183  unknown      CH03  202252        0           True         0  0.000
16184  unknown      CH04  202252        0           True         0  0.000
16185  unknown      CH05  202252        0           True         0  0.000
16186  unknown      CH06  202252        0           True         0    NaN
16187  unknown      CH07  202252        0           True         0  0.000

       prct        pop  inz_entries  inzsumTotal          type type_variant  \
0       NaN  4338203.0         0.00         0.00  COVID19Death          sex
1       NaN  4400588.0         0.00         0.00  COVID19Death          sex
2       NaN        NaN          NaN          NaN  COVID19Death          sex
3      66.7  4338203.0         0.05         0.05  COVID19Death          sex
4      33.3  4400588.0         0.02         0.02  COVID19Death          sex
...     ...        ...          ...          ...           ...          ...
16183   0.0        NaN          NaN          NaN  COVID19Death          sex
16184   0.0        NaN          NaN          NaN  COVID19Death          sex
16185   0.0        NaN          NaN          NaN  COVID19Death          sex
16186   NaN        NaN          NaN          NaN  COVID19Death          sex
16187   0.0        NaN          NaN          NaN  COVID19Death          sex

                   version datum_unit datum_dboardformated  entries_diff_abs  \
0      2023-08-15_06-00-29    isoweek              2020-09               NaN
1      2023-08-15_06-00-29    isoweek              2020-09               NaN
2      2023-08-15_06-00-29    isoweek              2020-09               NaN
3      2023-08-15_06-00-29    isoweek              2020-10               2.0
4      2023-08-15_06-00-29    isoweek              2020-10               1.0
...                    ...        ...                  ...               ...
16183  2023-08-15_06-00-29    isoweek              2022-52               0.0
16184  2023-08-15_06-00-29    isoweek              2022-52               0.0
16185  2023-08-15_06-00-29    isoweek              2022-52               0.0
16186  2023-08-15_06-00-29    isoweek              2022-52               0.0
16187  2023-08-15_06-00-29    isoweek              2022-52               0.0

       entries_diff_inz  entries_diff_pct  prct_diff
0                   NaN               NaN        NaN
1                   NaN               NaN        NaN
2                   NaN               NaN        NaN
3                  0.05               NaN        NaN
4                  0.02               NaN        NaN
...                 ...               ...        ...
16183               NaN               NaN        0.0
16184               NaN               NaN        0.0
16185               NaN               NaN        0.0
16186               NaN               NaN        NaN
16187               NaN               NaN        0.0

[16188 rows x 20 columns]>

Index(['sex', 'geoRegion', 'datum', 'entries', 'timeframe_all', 'sumTotal',
       'freq', 'prct', 'pop', 'inz_entries', 'inzsumTotal', 'type',
       'type_variant', 'version', 'datum_unit', 'datum_dboardformated',
       'entries_diff_abs', 'entries_diff_inz', 'entries_diff_pct',
       'prct_diff'],
      dtype='object')

### 3. Indexing on a DataFrame

By methods (we are back to our clean and simple Iris dataset):

In [ ]:
# access single cell by integer numbers, faster that loc and iloc. Use the .iat command and then specify the row and column you want to access
iris_df.iat[0,0]
#this will access the second last row, the 3rd column (column labeling starts at 0)

5.2

In [ ]:
# Assign a new value by once again accessing the value by using integer number, then assign new value using =
print(iris_df.iat[0,0])
iris_df.iat[0,0]=5.3
print(iris_df.iat[0,0])
iris_df.head() #displays the first 5 rows

5.3
5.3

   5.1  3.5  1.4  0.2  Iris-setosa
0  5.3  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

Indexing a group/subset of the dataframe by loc (column names) or iloc (index)

In [ ]:
#loc looks for the label assigned to the row/column whereas iloc looks for the location of the row/column
#for df where the index and the location matches the result displayed will be the same
iris_df.loc[0:2] #accesses rows 0-2
iris_df.loc[0:6:2] #accesses every second row between 0 and 6

   5.1  3.5  1.4  0.2  Iris-setosa
0  5.3  3.0  1.4  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa

**Important**
When you assign a (subset) of dataframe to a new one like above, no copy is made. This means that if you change values of the new frame, also the orginal frame will be changed. If you want a copy, you need to use the copy method.

Indexing by column names...

In [23]:
iris_df.rename(columns={'5.1':'sepals_length', '3.5':'sepals_width', '1.4':'petals_length', '0.2':'petals_width', 'Iris-setosa':'species'}, inplace=True)
#this command changed the first row to add titles to the column. However, it also deleted the first row of valuen
iris_df['sepals_length'] #here sepals_length is the column name, looking for the name will display all the rows of that column

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sepals_length, Length: 149, dtype: float64

Selecting (filtering) by column valuess_df = dataframe[dataframe['species']=='Iris-setosa']

In [ ]:
iris_setosa_df = iris_df[iris_df['species']=='Iris-setosa'] #this will create a new df where only the values of the iris-setosa is displayed
iris_setosa_df

   sepals_length sepals_width petals_length petals_width      species
1            4.7          3.2           1.3          0.2  Iris-setosa
2            4.6          3.1           1.5          0.2  Iris-setosa
3            5.0          3.6           1.4          0.2  Iris-setosa
4            5.4          3.9           1.7          0.4  Iris-setosa
5            4.6          3.4           1.4          0.3  Iris-setosa
..           ...          ...           ...          ...          ...
44           4.8          3.0           1.4          0.3  Iris-setosa
45           5.1          3.8           1.6          0.2  Iris-setosa
46           4.6          3.2           1.4          0.2  Iris-setosa
47           5.3          3.7           1.5          0.2  Iris-setosa
48           5.0          3.3           1.4          0.2  Iris-setosa

[48 rows x 5 columns]

Vectorized dataframe manipulations...

In [ ]:
#performing an operation on an entire column and creating a new column with the output
iris_setosa_df['petals_length_half']=iris_setosa_df['petals_length'].astype(float)/2
iris_setosa_df

/var/folders/k1/tlc1r2s97gj6r2x8xm2cchlh0000gn/T/ipykernel_3379/1188642016.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris_setosa_df['petals_length_half']=iris_setosa_df['petals_length'].astype(float)/2

,sepals_length,sepals_width,petals_length,petals_width,species,petals_length_half
1,4.7,3.2,1.3,0.2,Iris-setosa,0.65
2,4.6,3.1,1.5,0.2,Iris-setosa,0.75
3,5.0,3.6,1.4,0.2,Iris-setosa,0.70
4,5.4,3.9,1.7,0.4,Iris-setosa,0.85
5,4.6,3.4,1.4,0.3,Iris-setosa,0.70
...,...,...,...,...,...,...
44,4.8,3.0,1.4,0.3,Iris-setosa,0.70
45,5.1,3.8,1.6,0.2,Iris-setosa,0.80
46,4.6,3.2,1.4,0.2,Iris-setosa,0.70
47,5.3,3.7,1.5,0.2,Iris-setosa,0.75
48,5.0,3.3,1.4,0.2,Iris-setosa,0.70

Grouping ...

In [26]:
grouped_df = iris_df.groupby('species') #groups rows of a df based on the values of a column
print(grouped_df.ngroups) 
print(grouped_df.size())
gdf_virginica = grouped_df.get_group('Iris-virginica')
gdf_virginica.head()

3
species
Iris-setosa        49
Iris-versicolor    50
Iris-virginica     50
dtype: int64

     sepals_length  sepals_width  petals_length  petals_width         species
99             6.3           3.3            6.0           2.5  Iris-virginica
100            5.8           2.7            5.1           1.9  Iris-virginica
101            7.1           3.0            5.9           2.1  Iris-virginica
102            6.3           2.9            5.6           1.8  Iris-virginica
103            6.5           3.0            5.8           2.2  Iris-virginica

### 4. Sorting on a DataFrame

...

In [27]:
#adf = pd.read_csv('iris.csv',names=['slength','swidth','plength','pwidth','species'])
iris_df.sort_values(['sepals_length', 'sepals_width']) 
#sorts the values of sepals_length according to their size, if two values have the same size they will be sorted according to sepals_width

     sepals_length  sepals_width  petals_length  petals_width         species
12             4.3           3.0            1.1           0.1     Iris-setosa
7              4.4           2.9            1.4           0.2     Iris-setosa
37             4.4           3.0            1.3           0.2     Iris-setosa
41             4.4           3.2            1.3           0.2     Iris-setosa
40             4.5           2.3            1.3           0.3     Iris-setosa
..             ...           ...            ...           ...             ...
117            7.7           2.6            6.9           2.3  Iris-virginica
121            7.7           2.8            6.7           2.0  Iris-virginica
134            7.7           3.0            6.1           2.3  Iris-virginica
116            7.7           3.8            6.7           2.2  Iris-virginica
130            7.9           3.8            6.4           2.0  Iris-virginica

[149 rows x 5 columns]

You may measure the time needed for the execution, e.g. with the operating system command "time". System commands are executed with a %:

In [28]:
%time iris_df.sort_values(['sepals_length', 'sepals_width'])

CPU times: user 1.88 ms, sys: 364 Âµs, total: 2.25 ms
Wall time: 1.99 ms

     sepals_length  sepals_width  petals_length  petals_width         species
12             4.3           3.0            1.1           0.1     Iris-setosa
7              4.4           2.9            1.4           0.2     Iris-setosa
37             4.4           3.0            1.3           0.2     Iris-setosa
41             4.4           3.2            1.3           0.2     Iris-setosa
40             4.5           2.3            1.3           0.3     Iris-setosa
..             ...           ...            ...           ...             ...
117            7.7           2.6            6.9           2.3  Iris-virginica
121            7.7           2.8            6.7           2.0  Iris-virginica
134            7.7           3.0            6.1           2.3  Iris-virginica
116            7.7           3.8            6.7           2.2  Iris-virginica
130            7.9           3.8            6.4           2.0  Iris-virginica

[149 rows x 5 columns]

In [29]:
# list the file in your current directory with the linux command ls
%ls

CAS-ADS-M1-D1-2022-Intro.pptx
Data Acquisition and Management_230823.pptx
M1_D1_DM.ipynb
iris.csv

Here is a cheat sheet for common linux commands: https://files.fosswire.com/2007/08/fwunixref.pdf

### 5. Filtering on a DataFrame
...

In [40]:
# Create a dataframe with a one column telling if slength is larger than 5.0
iris_df['sepals_length'].astype('float')>5.0

0      False
1      False
2      False
3      False
4       True
       ...
144     True
145     True
146     True
147     True
148     True
Name: sepals_length, Length: 149, dtype: bool

In [41]:
# We can apply the filtering result to a new dataframe
df_large = iris_df[iris_df['sepals_length'].astype('float')>5.0]

In [42]:
# And print it
df_large

,sepals_length,sepals_width,petals_length,petals_width,species,slength > 5.0
4,5.4,3.9,1.7,0.4,Iris-setosa,<class 'bool'>
9,5.4,3.7,1.5,0.2,Iris-setosa,<class 'bool'>
13,5.8,4.0,1.2,0.2,Iris-setosa,<class 'bool'>
14,5.7,4.4,1.5,0.4,Iris-setosa,<class 'bool'>
15,5.4,3.9,1.3,0.4,Iris-setosa,<class 'bool'>
...,...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica,<class 'bool'>
145,6.3,2.5,5.0,1.9,Iris-virginica,<class 'bool'>
146,6.5,3.0,5.2,2.0,Iris-virginica,<class 'bool'>
147,6.2,3.4,5.4,2.3,Iris-virginica,<class 'bool'>
148,5.9,3.0,5.1,1.8,Iris-virginica,<class 'bool'>

### 6. Missing or bad data

Datasets, before they are "cleaned", may contain missing or wrongly formated values. There are DataFrame methods to deal with this:

- DataFrame.dropna([axis, how, thresh, â€¦])	Remove missing values.
- DataFrame.fillna([value, method, axis, â€¦])	Fill NA/NaN values using the specified method
- DataFrame.replace([to_replace, value, â€¦])	Replace values given in to_replace with value.
- DataFrame.interpolate([method, axis, limit, â€¦])	Interpolate values according to different methods.

Retrieving and cleaning data is often the most time consuming part in a data science project.

**My Notes**

NaN = Not a number

NA = Not applicable

### 7. Exporting dataframes (I/O)

DataFrame has several export methods. (html, hdf5, ascii, excel etc). Let's write our file to a text file in a csv format.

In [45]:
df_large.to_csv('myout.txt')

In [46]:
%ls -l

total 11664
-rw-r--r--@ 1 lenjachiaraflutsch  staff   484050 Aug 23 07:49 CAS-ADS-M1-D1-2022-Intro.pptx
-rw-r--r--@ 1 lenjachiaraflutsch  staff  5386454 Aug 23 19:56 Data Acquisition and Management_230823.pptx
-rw-r--r--@ 1 lenjachiaraflutsch  staff    77698 Aug 23 15:29 M1_D1_DM.ipynb
-rw-r--r--@ 1 lenjachiaraflutsch  staff     4551 Aug 23 11:03 iris.csv
-rw-r--r--  1 lenjachiaraflutsch  staff     5840 Aug 24 07:59 myout.txt

What happens with our files when we close our colab session?

### 8. Metadata


Metadata is data about the data, e.g. when was it collected, under which conditions, calibration etc.
Metadata is normally not part of the statistical data analysis, however, needed for understanding and reproducibilty.

DataFrame is not really made for storing metadata (should be done separately), but one can add new attributes to a dataframe:

In [48]:
iris_df.myinstrument_name = 'Linky'
iris_df.myinstrument_name

,sepals_length,sepals_width,petals_length,petals_width,species,slength > 5.0
0,4.9,3.0,1.4,0.2,Iris-setosa,<class 'bool'>
1,4.7,3.2,1.3,0.2,Iris-setosa,<class 'bool'>
2,4.6,3.1,1.5,0.2,Iris-setosa,<class 'bool'>
3,5.0,3.6,1.4,0.2,Iris-setosa,<class 'bool'>
4,5.4,3.9,1.7,0.4,Iris-setosa,<class 'bool'>
...,...,...,...,...,...,...
144,6.7,3.0,5.2,2.3,Iris-virginica,<class 'bool'>
145,6.3,2.5,5.0,1.9,Iris-virginica,<class 'bool'>
146,6.5,3.0,5.2,2.0,Iris-virginica,<class 'bool'>
147,6.2,3.4,5.4,2.3,Iris-virginica,<class 'bool'>
148,5.9,3.0,5.1,1.8,Iris-virginica,<class 'bool'>

Data repositories often use so-called Data Cards for metadata. See for example: https://www.kaggle.com/datasets/uciml/iris

### 9. Working on the filesystem with the os module

When managing large datasets, one often has to organise files in the file system. This includes finding them, moving and copying them, creating new folders/directories, renaming them etc. This can easily be done from Python with the os (operating system) module.

Try to understand the following code and alter it to do something else.

In [ ]:
import os

new_dir = os.getcwd() +'/newnbdir' # Get the current directory into a string, add /newnbdir to the string
os.makedirs(new_dir) # Create the folder
files = os.listdir() # List the files in the current folder
nb_files = [] # Create an empty list
for file in files:
    if 'ipynb' in file and file[0]!='.':
        nb_files.append(file)
for file in nb_files:
    os.system('cp '+file+' '+new_dir+'/')

In [ ]:
!ls -l newnbdir

### Exercise 3 (this we may skip if not enough time)

Read in the iris dataset from iris.csv into a dataframe. Set the values in column 1 in row 39, 49 and 100 to NaN (use the nan method from the numpy package). Then replacethe NaN values to the average value of the respective column. Depending on how you do it, this may be about 10 lines of Python code.

In [ ]:
# Solve your exercise here

### Exercise 4

Print a sorted list of the weeks and the male deadths with COVID-19 in Switzerland. The weeks with the highest numbers should appear first. This should be doable with about 10 lines of Python. You may need 30 minutes to solve this one.

In [ ]:
import pandas as pd
#url = 'https://www.covid19.admin.ch/api/data/20210824-jrvdp23s/sources/COVID19Test_geoRegion_all.json'
#df_cov = pd.io.json.read_json(url)
#url = 'https://www.covid19.admin.ch/api/data/20210824-jrvdp23s/sources/COVID19Death_geoRegion_sex_w.csv'
url = 'https://www.covid19.admin.ch/api/data/20230815-7ixiby4u/sources/COVID19Death_geoRegion_sex_w.csv'

# End of today - please fill this form

https://forms.gle/bzDpGLUieVnheZUi6.
Have a nice evening and see you tomorrow.